
.button--primary {
    background-color: var(--accent-color);
    color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;

    height: 50px;
    min-width: 200px;
    padding: 10px 32px 10px 32px;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            cursor: pointer;
            background-color: #188ce8;
        }
}



.button-secondary {
    padding: 6px 22px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background: #f5f4fa;
    border-radius: 4px;
    border: 0;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
            &:focus {
                background-color: var(--accent-color);
                color: #ffffff;
                cursor: pointer;
                box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
                    0px 2px 2px rgba(0, 0, 0, 0.12);
            }
}



                .button--close {
                    position: absolute;
                    top: 8px;
                    right: 8px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: auto;
                    padding: 0;
                    width: 30px;
                    height: 30px;
                    background-color: inherit;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    border-radius: 50%;
                    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
                    &:hover,
                    &:focus {
                        fill: var(--accent-color);
                        cursor: pointer;
                    }
                }