.button-nav {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    gap:8px;
    justify-content: start;
    @include mq(mob) {
        margin-top: -15px;
    }
    @include mq(tab) {
        justify-content: center;
        margin-bottom: 30px;
    }
    @include mq (desc) {
        margin-bottom: 50px;
    }
}

.button__item {
    @include mq(mob) {
        margin-top: 15px;
    }
}


// .button-nav {
//     display: flex;
//     justify-content: center;
//     margin-bottom: 50px;
// }

// .button-nav .item+.item {
//     margin-left: 8px;
// 