.social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    margin-left: -10px;
  }
  
  .social__item {
    margin-left: 10px;
    width: 44px;
  }
  
  .social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
  
    fill: inherit;
    border-radius: 50%;
  }
  
  .team__social {
    fill: #757575;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: var(--accent-color);
      fill: var(--accent-color);
    }
  }
  
  .contacts {
    @include mq(mob-only) {
      display: flex;
      flex-direction: column-reverse;
      margin-bottom: 64px;
    }
    @include mq(tab) {
      margin-left: auto;
  
      color: var(--secondary-text-color);
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
    }
    @include mq(desc) {
      display: flex;
    }
  }
  
  .contacts__item:last-child {
    @include mq(tab-only) {
      margin-top: 10px;
    }
    @include mq(desc) {
      margin-left: 30px;
    }
  }
  
  .contacts__link {
    @include mq(mob-only) {
      display: block;
      font-weight: 500;
      letter-spacing: 0.02em;
      font-size: 24px;
      line-height: 1.17;
      color: var(--secondary-text-color);
  
      &--blue {
        margin-bottom: 32px;
        font-size: 34px;
        line-height: 1.17;
        color: var(--accent-color);
        @media (max-width: 400px) {
          font-size: 24px;
        }
      }
    }
    @include mq(tab) {
      display: flex;
      align-items: center;
      font-size: 12px;
      fill: currentColor;
      transition:250ms cubic-bezier(0.4, 0, 0.2, 1);

  
      &:hover,
      &:focus {
        color: var(--accent-color);
      }
    }
    @include mq(desc) {
      font-size: 14px;
      line-height: 1.14;
    }
  }
  
  .contacts__icon {
    @include mq(mob-only) {
      display: none;
    }
    @include mq(tab-only) {
      margin-right: 8px;
      &--smaller-envelope {
        width: 14px;
        height: 10px;
      }
      &--smaller-smartphone {
        width: 10px;
        height: 14px;
      }
    }
    @include mq(desc) {
      margin-right: 10px;
    }
  }
  