.footer__logo {
    display: inline-block;
    color: var(--accent-color);

    text-decoration: none;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.49;
    margin-bottom: 20px;
}


.logo {
    color: var(--accent-color);

    text-decoration: none;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo--black {
    color: #000000;
}

