:root {
    --primary-text-color: #212121;
    --accent-color: #2196f3;
    --secondary-text-color: #757575;
    --banner-color: #2f303a;
    --secondary-banner-color: #f5f4fa;
    --unactive-color: #afb1b8;
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --card-gap:30px;
    --card-item:1;
}

$font-family: Roboto, sans-serif;
$logo-font-family: Raleway, serif;