.background {
    margin-right: 0;
    margin-left: 0;
    margin: auto;
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/team-banner.jpg);
        @include mobile;
        background-color: aquamarine;
}

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.hero__title {
    max-width: 696px;

    color: #ffffff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0 auto;
    
    margin-bottom: 30px;
}