.hero {
    margin-right: 0;
    margin-left: 0;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
url(../images/team-banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #c4c4c4;
}

.hero__background {
    padding: 118px 60px;
    text-align: center;
    @include mq(desc) {
        padding: 200px 0px;
    }
}

.hero__title {
    margin: 0 auto;
    margin-bottom: 30px;

    font-size: 20px;
    line-height: 1.62;
    color: #ffffff;
    font-weight: 900;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @include mq(mob) {
        font-size: 26px;
        line-height: 1.62;
    }


    @include mq(tab) {
        max-width: 360px;

    }
    @include mq(desc) {
        font-size: 44px;

        line-height: 1.36;
        max-width: 696px;
    }
  
}

